@use "../utils/variables" as *;
@use "../base/typography" as *;
@use "../utils/mixins" as *;

.journey {
  @include bg;

  padding-top: $space-1000;
  padding-bottom: $space-1000;
  border-radius: $br-12;
  margin-top: 7.5rem;

  @include mq(m) {
    margin-top: $space-1000;
    padding: $space-1000 $space-400;
    background-position:
      0 0,
      30vw 20rem;
  }

  @include mq(s) {
    margin-top: $space-800;
  }

  &__heading {
    @include preset(2);

    text-align: center;
    max-width: 45%;
    margin: 0 auto;
    margin-bottom: $space-800;

    @include mq(m) {
      text-align: start;
      max-width: 100%;
      margin: 0 0 $space-800 0;
    }
  }

  &__steps {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 3.75rem;
    justify-content: space-between;
    gap: $space-600;
    list-style: none;

    @include mq(m) {
      grid-template-columns: auto;
      margin: 0;
    }
  }

  &__step {
    flex: 1;
    @include preset(6);

    position: relative;
    padding-top: $space-800;

    &::before {
      content: attr(data-index);
      position: absolute;
      width: $space-500;
      height: $space-500;
      border: 0.125rem solid currentColor;
      border-radius: $br-4;
      top: 0;
      left: 0;
      display: grid;
      place-content: center;
    }

    &:not(:last-child) {
      &::after {
        content: "";
        position: absolute;
        width: 5rem;
        height: 2rem;
        background-image: url(../../../assets/images/pattern-arrow.svg);
        top: 0;
        right: 0;

        @include mq(m) {
          display: none;
        }
      }
    }
  }
}
